{% extends "main.html" %}
{% block content %}
    <form class="form" method="post">
        {% csrf_token %}
        <div class="form-group input-group-lg">
            <label class="left">Initial Capital</label>
            {{ form.capital }}
        </div>
        <div class="form-group input-group-lg">
            <label class="left">Number of Years</label>
            {{ form.years }}
        </div>
        <div class="form-group input-group-lg">
            <label class="left">Interest Rate (Annual)</label>
            {{ form.interest }}
        </div>
        <div class="form-group input-group-lg">
            <input type="submit" class="btn btn-primary btn-lg" value="Submit">
        </div>
    </form>
    <div class="jumbotron text-center">
        <span class="label label-primary">Primary</span>
        <h1>{{ form.a }}</h1>
    </div>
{% endblock %}