{% extends "app/main.html" %}
{% block content %}
    <div class="header bg-primary text-center">
        <h1 class="text-white" style="padding-top: 120px;">ABOUT</h1>
                <p class="text-white lead" style="padding-top: 30px;" >
                    Love fashion. Love Island River.
                </p>
    </div>
    <h1 class="alert alert-primary text-center"></h1>

    <div class="container">
        <p class="lead text-center">
            With over 60 years of fashion retailing experience, Island River is one of the most well-known and loved brands on the High Street.
            At Island River we are renowned for our stylish, affordable fashion. The unique touches we bring to our collections help us standout from the rest of the High Street. Our customers can always rely on us for great going-out looks and occasion wear, amazing denim and fabulous bags and shoes. We pride ourselves on being the perfect store to pick up everything you need for a brand new head-to-toe look.
        </p>
    </div>

    <h2 class="jumbotron">
        <p class="lead text-center">
            Love fashion.
        </p>
    </h2>

    <div class="container">
        <p class="lead text-center">
            At Island River we always aim to bring new and original fashion to you, with great design at the heart of everything we create. Almost all of our products are designed in-house and, as we have one of the largest design teams on the High Street, we are proud that we can deliver fabulous new fashion in-store and online for you every single week.
            With over 350 stores across the UK, Ireland and internationally throughout Asia, the Middle East and Europe, as well as six dedicated online sites operating in four currencies, it’s time to get shopping!
        </p>
    </div>

    <h2 class="jumbotron">
        <p class="lead text-center">
            Love Island River.
        </p>
    </h2>

{% endblock %}