{% extends "app/main.html" %}
{% block content %}
    <div class="header bg-primary text-center">
        <h1 class="text-white">ISLAND RIVER</h1>
        <h2>Love fashion. Love Island River.</h2>
    </div>
    <div class="header text-center">
        <h1 >TO THE SHOP</h1>
        <p class="lead">
            Check out our latest products!
        </p>
        <div class="container">
            <div class="btn-group col-sm-6">
                <a href="/shop/men"><button class="btn btn-block btn-lg btn-primary">MEN</button> </a>
            </div>
            <div class="btn-group col-sm-6">
                <a href="/shop/women"><button class="btn btn-block btn-lg btn-primary">WOMEN</button> </a>
            </div>
        </div>
    </div>
{% endblock %}