{% extends "app/main.html" %}
{% block content %}
    <div ng-controller="shopController as shop">
        <h1 class="alert alert-primary text-center"><a href="/">S H O P</a></h1>

        <!-- Item -->
        <div>
            <div class="container">
                <div class="panel">
                    <div class="panel-body text-center">
                        <h3>{{ item.fields.name }}</h3>
                        <div href="#" class="thumbnail">
                            <img src="{{ '/static/app/' + item.fields.img }}" class="img-responsive" style="max-height: 250px;">
                            <div class="caption">
                                <p>{{ item.fields.desc }}</p>
                            </div>
                        </div>
                        <p>£{{ item.fields.price }}</p>
                        <input type="button" class="btn btn-primary" value="Add To Basket" ng-click="addItem(item)">

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}