{% extends "app/main.html" %}
{% load static %}
{% block content %}
<div>
    <div class="header bg-primary text-center">
        <h1 class="text-white">THANK YOU</h1>
        <p class="text-white lead">
            Thanks, for your order {{ order.user.first_name }}. We the best. I like that.
        </p>
    </div>

    <div class="header bg-success text-center">
        <h1>YOUR ORDER NUMBER IS</h1>
        <h2 >
            {{ order.id }}
        </h2>
    </div>

    <div class="bg-info">
        <div id="order" class="header text-center">
            <h1>YOUR ORDER SUMMARY IS</h1>
        </div>
        <div class="container">
            {% for order_product in order_products %}
            <div class="panel">
                <div class="panel-body">
                    <div class="col-xs-12">
                        <div class="col-xs-4 col-sm-3">
                            <img src="/{{ order_product.product.photo }}" class="img-responsive img-circle" alt="{{ order_product.product.photo }}">
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <div class="row col-xs-12">
                                <h3>{{ order_product.product.name }}</h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="text-center">Qty: {{ order_product.quantity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <h4 class="text-center">Price: £{{ order_product.price }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="panel">
                <div class="panel-body">
                    <div class="col-xs-12">
                        <h3>Order Total: £{{ order.total }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header bg-default text-center">
        <h1>
            <a href="/">TAKE ME HOME! I'M DONE HERE.</a>
        </h1>
    </div>
</div>
{% endblock %}