{% extends "app/main.html" %}
{% block content %}
    <main class="page-wrap">
        <div class="container">
            <h1 class="alert alert-primary text-center"><a href="/">C H A N G E &nbsp; P A S S W O R D</a></h1>
            <div class="panel panel-small panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Remember, don't forget your password</h4>
                    <form class="form" action="/change-password/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input class="form-control" type="password" id="old_password" name="old_password">
                        </div>
                        <div class="form-group">
                            <ul>
                                <li>Your password can't be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numeric.</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="new_password1">New Password</label>
                            <input class="form-control" type="password" id="new_password1" name="new_password1">
                        </div>
                        <div class="form-group">
                            <label for="new_password2">New Password Confirm</label>
                            <input class="form-control" type="password" id="new_password2" name="new_password2">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-block" name="commit" tabindex="3" type="submit" value="Change Password"/>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    <br/>
                    Haven't used E-commerce before? <a href="/signup">Sign Up!</a>
                    <br/><br/>
                </div>
            </div>
        </div>
    </main>
{% endblock %}