{% extends "app/main.html" %}
{% block content %}
    <div id="main" class="page-wrap">
    <div class="container">
        <h1 class="alert alert-primary text-center"><a href="/">S I G N   U P</a></h1>
        <div class="panel panel-small panel-default">
            <div class="panel-body">
                <h4 class="text-center">Sign up for E COMMERCE</h4>
                <form class="form" action="/signup/" method="POST">
                    {% csrf_token %}
                    {% if error %}
                        <div class="form-group alert alert-danger">
                            <p>{{error}}</p>
                        </div>
                    {% endif %}
                    <div class="form-group col-lg-6">
                        <label>First name<i class="required">*</i></label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Last name<i class="required">*</i></label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group col-md-2">
                        <label>House No.<i class="required">*</i></label>
                        {{ form.house }}
                    </div>
                    <div class="form-group col-md-5">
                        <label>Address<i class="required">*</i></label>
                        {{ form.line1 }}
                    </div>
                    <div class="form-group col-md-5">
                        <label>Postcode<i class="required">*</i></label>
                        {{ form.postcode }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Phone<i class="required">*</i></label>
                        {{ form.phone }}
                    </div>
                    <hr/>
                    <div class="form-group col-sm-12">
                        <label>Email<i class="required">*</i></label>
                        {{ form.email }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Password<i class="required">*</i></label>
                        {{ form.password }}
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Confirm Password<i class="required">*</i></label>
                        {{ form.password_confirm }}
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Accept that you have read and agree to the <a href="">Terms of Service</a> and our <a href="">Privacy Policy</a>.</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" name="commit" tabindex="3" type="submit" value="Sign Up"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
